.carousel-inner {
    height: 100%;
    width: 100%;
}

.navbar-brand {
    font-size: 1.6rem;
    font-weight: bold;
}

.section-spacing {
    margin-top: 420px;
}

.carousel-item img {
    height: 600px;
    object-fit: cover;
}
